:root {
    --primary-color: rgb(36, 64, 156);
    --primary-color-dark: rgb(7, 28, 95);
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-color);
    font-size: 1.3em;
    line-height: 1.5em;
}
.container {
    max-width: 640px;
    margin: 50px auto;    
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height:  50px;
    cursor: pointer;
    margin-top: 40px;
}

form button:hover {
    background: var(--primary-color-dark);
}

.paragrafo-error {
    background: rgb(248, 136, 136);
    padding: 10px 20px;
    text-align: center;
}

.paragrafo-resultado-normal {
    background: rgb(123, 223, 123);
    padding: 10px 20px;
    text-align: center;
}

.paragrafo-resultado-alerta {
    background: rgb(214, 214, 76);
    padding: 10px 20px;
    text-align: center;
}

.paragrafo-resultado-perigo {
    background: rgb(248, 136, 136);
    padding: 10px 20px;
    text-align: center;
}

